body {
	overflow-x: hidden;
}

.pie-vidget {
	--size: min(326px, max(186px, 33.33vw));
	font-size: max(calc(var(--size) / 17), 15px);
	--thickness: min(2.4em, calc(var(--size) / 6.5));
	--marker:  .5em;
	--turn: -45deg;
	--color: #1C075F;
	margin: var(--thickness) auto;
	height: var(
	--size);
	/* padding: var(
	--thickness) 0; */
	position: relative;
	/* width: var(
	--size); */
	transition: .2s margin;
	/* left: -100px; */
}
/*@media screen and (max-width: 900px) {
	.pie-vidget {
		--size: 186px;
		--thickness: 25px;
	}
}
*/.pie-vidget svg {
	display: block;
	margin: auto;
	overflow: visible;
	width: var(--size);
	height: var(--size);
	--start:  0;
	isolation: isolate;
}
.pie-vidget svg.complete {
	transition: 0.4s;
}
.pie-vidget svg circle {
	r: calc(50% - var(--thickness) / 2);
	stroke-width: var(--thickness);
	stroke-dasharray: 0, var(--start), var(--val), 1;
	fill: none;
	stroke: var(--color);
	cx: 50%;
	cy: 50%;
	transform: rotate(var(--turn));
	transform-origin: 50% 50%;
	transition: .8s ease-in-out, opacity .2s, mix-blend-mode 0s 0.5s;
}
.pie-vidget .pie-sectors {
	mix-blend-mode: screen;
}
.pie-vidget .pie-glow circle{
	filter: drop-shadow(0 0 0.2em #fff8) drop-shadow(0 0 .3em var(--color)) blur(0px);
	stroke: #000;
	transition: opacity .4s;
	opacity: 0;
	stroke-width: calc(var(--thickness) - 1px);
}
.pie-vidget .pie-sectors circle.hover+*, .pie-vidget .pie-sectors circle:last-child{
	mix-blend-mode: lighten;
	transition-delay: 0s;
}
.pie-vidget .pie-glow circle.hover{
	transition: opacity .3s;
	opacity: 1;
}
.pie-vidget svg:not(.complete) .pie-sectors circle {
	--start: 0 !important;
	--val: 0.0015 !important;
	opacity: 0
}
.pie-vidget svg g circle:last-child {
	transform: rotate(var(--turn)) rotate(.001turn);
}
.pie-pointer {
	transform: rotate(var(--turn)) translateY(.5px) translate(50%, 50%);
	transform-origin: 50% 50%;
	opacity: 0;
	--turn: -.25turn;
}
.pie-line {
	height: 1px;
	width: var(--thickness);
	x: 50%;
	y: -0.5;
}
.pie-marker {
	/* fill:  var(--color); */
	height: var(--marker);
	width: var(--marker);
	x: calc(50% + var(--thickness) - var(--marker)/2);
	y: calc(var(--marker) / -2);
	transform: rotate(calc(-1*var(--turn)));
	transform-origin: calc(50% + var(--thickness)) 0;
	transition: inherit;
}
.pie-title {
	position: absolute;
	/* margin: 50%; */
	padding: 0 .2em;
	display: flex;
	text-align: start;
	direction: ltr;
	/* line-height: .5em; */
	max-width: var(--size);
	align-items: baseline;
	transition: opacity .2s, visibility .2s;
	height: 1.1em;
	/* outline: 1px solid; */
}
.pie-title.pie-left {
	direction: rtl;
}
.pie-title:not(.visible) {
	opacity: 0;
	visibility: hidden;
	transition-delay: 0s !important;
}
.pie-title>div{
	line-height: 0.85em;
	margin: -0.2em .16em;
}
.pie-title>div div{
	display: inline-block;
	vertical-align: baseline;
	margin: -2em 0;
}
.pie-title>div:first-child {
	font-size: 2.3em;
	font-weight: 500;
	/* line-height: 0.4em; */
	/* margin: -0.2em .1em; */
	letter-spacing: -.012em;
}
