.pie-vidget {
	--size: 326px;
	--thickness: 50px;
	--marker:  10px;
	--turn: -45deg;
	--color: #1C075F;
	/* margin: 10px auto; */
	/* width: var(--size); */
	padding: var(--thickness) 0;
}
.pie-vidget svg {
	display: block;
	margin: auto;
	overflow: visible;
	width: var(--size);
	height: var(--size);
	--scale: .001;
	--start:  0;
}
.pie-vidget svg circle {
	--pixel: calc(1px / var(--size));
	r: calc(50% - var(--thickness) / 2);
	stroke-width: var(--thickness);
	stroke-dasharray: 0, var(--start), var(--val), 1;
	fill: none;
	cx: 50%;
	cy: 50%;
	transform: rotate(var(--turn));
	transform-origin: 50% 50%;
	transition: .8s ease-in-out;
}
.pie-vidget svg:not(.complete) circle {
	--start: 0 !important;
	--val: 0.0015 !important;
}
.pie-vidget svg circle:last-of-type {
	transform: rotate(var(--turn)) rotate(.001turn);
}
.pie-pointer {
	transform: rotate(var(--turn)) translateY(1px) translate(50%, 50%);
	transform-origin: 50% 50%;
	transition: .2s transform;
	--turn: -.25turn;
}
.pie-line {
	height: 1px;
	width: var(--thickness);
	x: 50%;
	y: -0.5;
}
.pie-marker {
	fill:  var(--color);
	height: var(--marker);
	width: var(--marker);
	x: calc(50% + var(--thickness) - var(--marker)/2);
	y: calc(var(--marker) / -2);
	transform: rotate(calc(-1*var(--turn)));
	transform-origin: calc(50% + var(--thickness)) 0;
	transition: inherit;
}
.pie-title {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	text-align: start;
	direction: ltr;
	/* line-height: .5em; */
	font-size: 1.2em;
	max-width: var(--size);
	align-items: flex-end;
	transition: all .2s, transform 0s;
}
.pie-title.pie-left {
	direction: rtl;
}
.pie-title:not(.visible) {
	opacity: 0;
	visibility: hidden;
}
.pie-title>div{
	display: inline-block;
	vertical-align: baseline;
	line-height: 0.9em;
	margin: -.14em .16em;
	padding-top: .08em;
}
.pie-title>div:first-child {
	font-size: 2.2em;
	/* line-height: 0.75em; */
	/* margin: -0.2em .1em; */
}
